.product-image {
  display: block;
  margin: auto;
  width: 90%;
  height: 200px;
}
#header {
  min-height: 50px;
  background-color: #fff;
}
.navbar {
  padding-top: 20px;
  position: fixed;
  z-index: 99;
}
.filter-card {
  font-weight: 500;
  margin-bottom: -5px;
}

.main-row {
  margin-top: 70px;
}
.logo-name {
  text-decoration: none !important;
  color: #ff5c1a;
}

#price-after-discount {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.price-before-discount {
  display: block;
  font-size: 15px;
  text-decoration: line-through;
}
.product-card {
  min-height: 400px;
}
.discount {
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 20px;
  padding: 3px;
  background-color: #de1c24;
  color: azure;
}
.container--buy-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buy-button {
  display: block;
  position: absolute;
  left: auto;
  bottom: 10px;
  border-radius: 23px;
  font-weight: bold;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 25%);
  background-color: #fff;
  color: #0071ce;
}
.search-button {
  margin-left: 5px;
  font-weight: 500;
  background-color: #ff5c1a;
  color: #fff;
}
.card-body h5 {
  font-size: 15px;
  font-weight: 600;
}
